/* import site fonts*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

#main-header {
    background-color: #3e5d60;
    width: 100%;
    padding-top: -50px;
    padding-bottom: -50px;
    font-family: "playfair display";
    display: grid;
    grid-template-columns: 30px auto;
}


#main-name h2{
    display: inline;
    color: white;
    font-size: 1em;
    font-family: "playfair display";
}

#main-name p{
    color: white;
    font-size: 0.7em;
    margin-top: -6px;
}

#main-name {
    display: grid;
    grid-template-columns: 70px 130px;
    margin: 0 auto;
}

.name-tag{
    display: block;
    padding-top: 30px;
}

.line { 
    border-bottom: 3px solid#f6b96a; 
    margin-top: 5px; 
    width: 100%;
} 

.img1 {
    width: 70px;
    padding-top: 20px;
}

#main-nav{
    font-size: 1.2em;
    bottom: 50px;
    margin-left: 300px;
    display: flex;
    justify-content: space-around;
}

#main-nav a{
    padding: 35px;
    text-decoration: none;
    color: white;
    text-align: center;
}

#main-nav a:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#slider img{
    width: 100%;
    height: 400px;
}

#intro {
    display: grid;
    grid-template-columns: 200px 200px 200px 50px 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.page_1 {
    margin-top: -100px;
    grid-column: 1/9;
    grid-row: 1/9;
}

.page_1 h1{
    margin-left: 20px;
    font-family: "playfair display";
}

.page_1 p{
    width: 95%;
    font-family: poppins;
    line-height: 3em;
    margin-left: 30px;
}

.page_2 {
    margin-top: -50px;
    grid-column: 9/10;
    grid-row: 1/9;
}

.page_2 img{
    max-width: 150px;
    margin-left: 100px;
    border-radius: 50%;
    border:4px solid black;
    transition: transform .5s;
    box-shadow: 10px 10px 15px #cc7437;
}

.page_2 img:hover {
    opacity: .8;
    transform: scale(1.1);
}

.page_2 p{
    font-size: 13px;
    font-family: poppins;
    line-height: 2em;
}

#sub_intro {
    display: grid;
    grid-template-columns: 200px 200px 200px 50px 50px;
}
.page_3 {
    grid-column: 1/9;
    grid-row: 1/9;
}

.page_3 h1{
    font-family: "playfair display";
    text-align: left;
    margin-left: 20px;
}
.page_3 ul li{
    line-height: 3em;
}
#sub_intro iframe{
    margin-left: 50px;
}

.page_4 {
    grid-column: 10;
    grid-row: 1/9;
}

.page_4 img {
    max-width: 150px;
    border-radius: 50%;
}

.page_4 p{
    font-family: poppins;
    font-size: 13px;
    line-height: 2em;
}

#body {
    width: 100%;
}

footer{
    background-color: #3e5d60;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: #f6b96a;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
    text-decoration: none;
}

footer .social-media {
    padding-top: 25px;
}

/* CSS for afriicons.html */

#hero-photo {
    width: 100%;
}

#hero-photo img {
    width: 100%;
    max-height: 200px;
}

#container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.profiles {
    width: 100%;
    display: flex;
    grid-column: 2/8;
    grid-row: 1/8;
}

.profiles img {
    width: 200px;
    border:4px solid black;
    margin-left: 30px;
    transition: transform .5s;
    box-shadow: 7px 7px 12px #cc7437;
    margin-top: 30px;
    margin-bottom: 30px;
}

.profiles img:hover {
    opacity: .8;
    transform: scale(1.1);
}

.profiles p{
    font-size: 0.8em;
    margin-left: 10px;
    margin-right: 10px;

}
.side_bar {
    grid-column: 9/10;
    grid-row: 1/8;
}

.side_bar img{
    width: 100%;
    padding-top: 30px;
}

.side_bar img:hover {
    opacity: .8;
    transform: scale(1.1);
}

.side_bar ul li{
    margin-bottom: 20px;
}

#placeholder {
    display: relative;
    float: right;
    font-weight: 5px;
    margin-top: 50px;
}

/* CSS for historicalm.html */


@media screen and (max-width: 900px) {
    #main-header{
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    footer {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    #body{
        width: 100%;
        margin: 0 auto;
     }

    #intro {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .page_2{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
}